---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Primer Nivel",
    // price: "Free",
    popular: false,
    features: [
      "Bautismo",
      "Primeros pasos",
      "Segundos pasos",
    ],
    // button: {
    //   text: "Get Started",
    //   link: "/",
    // },
  },
  {
    name: "Segundo Nivel",
    // price: {
    //   monthly: "$19",
    //   annual: "$16",
    //   discount: "10%",
    //   original: "$24",
    // },
    popular: true,
    features: [
      "Antiguo Testamento",
      "Nuevo Testamento",
      "Historia de la iglesia",
      "Doctrina"
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Tercer Nivel",
    // price: "Custom",
    popular: false,
    features: [
      "Viviendo en plenitud",
      "Viviendo en santidad",
      "Viviendo en amor",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Academia Biblica">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Academia Biblica</Fragment>
      <Fragment slot="desc">
        Tenemos cursos por niveles para elevar la espiritualidad de los creyentes.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
