---
import image from 'assets/iaq.png';
---

<section class="relative w-full h-64 md:h-96 bg-gray-800 text-white">
  <img src={image.src} alt="Banner Image" class="absolute inset-0 w-full h-full object-cover opacity-50" />
  <div class="relative z-10 flex flex-col justify-center items-center h-full">
    <h1 class="text-4xl md:text-6xl font-bold">Bienvenidos a Nuestra Iglesia</h1>
    <p class="mt-4 text-lg md:text-2xl">Generaciones que resplandecen</p>
    <a href="/contact" class="mt-6 px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded">Contáctanos</a>
  </div>
</section>