---
// @ts-ignore
import { Icon } from "astro-icon/components";
import SercvicioDominical from "assets/sevicioDominical244x244.png";
import Picture from "astro/components/Picture.astro";

const features = [
  {
    title: "Servicio dominical",
    description: "Domingo de 10:00 a 12:00",
    icon: "bx:bxs-church",
    image: SercvicioDominical,
  },
  {
    title: "Academia Biblica",
    description: "Domingo de 8:30 a 9:30",
    icon: "bx:bxs-book",
  },
  {
    title: "Alianza Kids",
    description: "Domingo de 10:00 a 12:00",
    icon: "bx:hard-hat",
  },
  {
    title: "Culto de oración",
    description: "Viernes de 19:00 a 20:00",
    icon: "bx:window-alt",
  },
  {
    title: "Reunion de adolescentes",
    description:
      "Domingo de 10:00 a 12:00,",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Reunión de damas",
    description:
      "Jueves de 19:00 a 20:00",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Servicios</h2>
  <p class="text-lg mt-4 text-slate-600">
    Tenemos varios servicios que se realizan en el transcurso de la semana
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          <div class="py-6 md:order-1 hidden md:block">
            {item.image && (
            <Picture
              src={item.image}
              alt="Astronaut in the air"
              widths={[200, 400, 600]}
              sizes="(max-width: 8100px) 100vw, 620px"
              loading="eager"
              format="avif"
            />
          )}
          </div>
        </div>
      </div>
    ))
  }
</div>
