---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<footer class="bg-[#b7723d] my-20 text-white py-10">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
        <!-- Logo -->
        <div class="flex items-center mb-6 md:mb-0">
            <span class="ml-4 text-2xl font-bold">IGLESIA ALIANZA QUITUMBE</span>
        </div>
        <!-- Contact Info -->
        <div class="text-center md:text-left">
            <h3 class="text-lg font-semibold">CONTACTANOS</h3>
            <p>Dir: Av. Condor Ñan – y Av. Lira Ñan</p>
            <p>Ref: Frente a la parada de la Ecovía Otoya</p>
            <p>WhatsApp: +593 96 352 1533</p>
        </div>
        <!-- Social Media -->
        <div class="mt-6 md:mt-0">
            <h3 class="text-lg font-semibold">SÍGUENOS</h3>
            <div class="flex justify-center md:justify-start space-x-4">
                <a href="https://www.facebook.com/IglesiaAlianzaQuitumbe?mibextid=ZbWKwL" class="text-white hover:text-gray-400">
                  <Icon class="size-8 md:size-5" name="simple-icons:facebook" />
                </a>
                <a href="https://www.instagram.com/iglesiaalianzaquitumbe?igsh=MXU3ZXY2Y3gyNzczNg==" class="text-white hover:text-gray-400">
                  <Icon class="size-8 md:size-5" name="simple-icons:instagram" />
                </a>
                <a href="https://www.youtube.com/@iglesiaalianzaquitumbe5512" class="text-white hover:text-gray-400">
                  <Icon class="size-8 md:size-5" name="simple-icons:youtube" />
                </a>
                <a href="https://www.tiktok.com/@iglesiaalianzaquitumbe?_t=8pkheKf6TPZ&_r=1" class="text-white hover:text-gray-400">
                  <Icon class="size-8 md:size-5" name="simple-icons:tiktok" />
                </a>
            </div>
          </br>
            <h3 class="text-lg font-semibold">ENCUENTRANOS.</h3>
            <div class="flex justify-center">
              <a href="https://maps.app.goo.gl/dZ1UK18evLsSZ1RUA" class="block mt-2 text-sm underline">
                <Icon class="size-8 md:size-5" name="simple-icons:googlemaps" />
              </a>
            </div>
            </a>
            </a>
        </div>
    </div>
    <div class="mt-10 border-t border-gray-700 pt-6 text-center">
        <p class="text-sm">Copyright © 2024. Todos los derechos reservados Iglesia Alianza Quitumbe.</p>
    </div>
</div>
</footer>
