---
---

<section class="py-16 bg-cover bg-center">
    <div class="container mx-auto">
      <div class="bg-opacity-80 p-8 rounded-lg shadow-lg flex flex-col md:flex-row justify-between">
        
        <!-- Misión -->
        <div class="w-full md:w-1/2 mb-8 md:mb-0 md:mr-8">
          <h3 class="text-2xl font-bold mb-4">Misión</h3>
          <p class="text-gray-700 text-lg">
            Nuestra misión es llevar el mensaje de salvación a todas las naciones, haciendo discípulos y bautizándolos en el nombre del Padre, del Hijo y del Espíritu Santo, conforme a la Gran Comisión (Mateo 28:19-20).
          </p>
        </div>
  
        <!-- Visión -->
        <div class="w-full md:w-1/2">
          <h3 class="text-2xl font-bold mb-4">Visión</h3>
          <p class="text-gray-700 text-lg">
            Ser una iglesia que refleja el amor de Cristo, comprometida con la transformación de vidas mediante la enseñanza de la Palabra de Dios, la adoración genuina y el servicio a la comunidad.
          </p>
        </div>
      </div>
    </div>
  </section>
  